.tree-view {
	-fx-background-color: #000;
}

.tree-cell {
	-fx-indent: 20px;
	-fx-text-fill: #fff;
	-fx-font-family: Consolas;
	-fx-background-color: #000;
}

.tree-cell:expanded {
	-fx-background-color: #222;
}

.tree-cell:selected {
	-fx-text-fill: #fff;
	-fx-background-color: #060;
}

.tree-cell .text {
	-fx-translate-y: 2px;
}

.tree-disclosure-node .arrow {
	-fx-alignment: top-left;
	-fx-translate-x: -6px;
}

.xml-element {
	-fx-text-fill: #aaa;
}

.xml-attribute {
	-fx-text-fill: #8f8;
}

.xml-text {
	-fx-text-fill: #8f8;
}
