.tree-view {
	-fx-background-color: #000;
}

.tree-cell {
	-fx-indent: 20px;
	-fx-text-fill: #fff;
	-fx-font-family: Consolas;
	-fx-background-color: #000;
}

.tree-cell:expanded {
	-fx-background-color: #222;
}

.tree-cell:focused,
.tree-cell:selected {
	-fx-text-fill: #fff;
	-fx-background-color: #060;
}

.tree-cell .tree-disclosure-node .arrow {
	-fx-translate-x: -6px;
}

.tree-cell .text {
	-fx-translate-y: 2px;
}

.prefix-text,
.postfix-text,
.edited-text {
	-fx-padding: 0;
	-fx-text-fill: #fff;
}

.tree-cell .edited-text {
	-fx-accent: #080;
	-fx-padding: 0;
	-fx-text-fill: #fff;
	-fx-font-family: Consolas;
	-fx-background-color: #0a0;
	-fx-border-color: #0f0;
	-fx-translate-x: -1px;
	-fx-translate-y: -1px;
}

.xml-element {
	-fx-text-fill: #aaa;
}

.xml-attribute {
	-fx-text-fill: #8f8;
}

.xml-text {
	-fx-text-fill: #8f8;
}

.tree-cell .text-field.xml-attribute {
	-fx-width: 100%;
}