.header {
	-fx-background-color: #000;
}

.header:pressed {
	-fx-cursor: move;
}

.info {
	-fx-fill: #8fff00;
}

.error {
	-fx-fill: #ff2f00;
}

.icon-close {
	-fx-background-color: rgba(64, 64, 64, 0.5);
	-fx-background-image: url("../images/icon_off.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 32;
	-fx-cursor: hand;
}

.icon-close:hover {
	-fx-background-color: rgba(64, 64, 64, 0.8);
	-fx-background-image: url("../images/icon_off_hover.png");
}

.icon-minimize {
	-fx-background-color: rgba(64, 64, 64, 0.5);
	-fx-background-image: url("../images/icon_minimize.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 32;
	-fx-cursor: hand;
}

.icon-minimize:hover {
	-fx-background-color: rgba(64, 64, 64, 0.8);
	-fx-background-image: url("../images/icon_minimize_hover.png");
}